<div class="modal-header">
    <h3>Load Game</h3>
</div>
<div class="modal-body">
    <table class="table">
        <tr>
            <th>
                <span ng-click="orderedProperty = 'name'; orderedDirection = !orderedDirection"
                      style="cursor: pointer;">
                    Name
                </span>
            </th>
        </tr>
        <tr ng-repeat="game in games | orderBy:orderedProperty:orderedDirection">
            <td style="cursor: pointer;">
                <a ng-click="select(game)" style="cursor: pointer;">{{ game.name }}</a>
            </td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>