#gameList {
	margin-top: 10px;

	#logoContainer {
		text-align: center;

		img {
			width: 150px;
			cursor: help;
		}
	}

	#loginContainer {
		text-align: right;
	}

	a, span { 
		cursor: pointer;
	}

	tr:hover {
		background-color: LightGrey;
	}
}
