<div id="gameList" class="container">
	<div class="row">
		<div class="span12" id="logoContainer">
			<img src="assets/images/logo_big.png" ng-controller="LogoCtrl" ng-click="aboutDialog.open()"></img>
		</div>
	</div>

	<h2>Games on RedWire</h2>

	<table class="table">
		<tr>
			<th>
				<span ng-click="orderedProperty = 'name'; orderedDirection = !orderedDirection">
					Name
				</span>
			</th>
			<th></th>
			<th></th>
			<th>
				<span ng-click="orderedProperty = 'author'; orderedDirection = !orderedDirection">
					Author
				</span>
			</th>
		</tr>
		<tr ng-repeat="game in games | orderBy:orderedProperty:orderedDirection">
			<td>
				{{ game.name }} 
			</td>
			<td>
				<a ng-click="play(game.id)" >Play</a>
			</td>
			<td>
				<a ng-click="remix(game.id)" >Remix</a>
			</td>
			<td>
				{{ game.author }}
			</td>
		</tr>
	</table>
</div>