<div id="gameList" class="container">
	<div class="row">
		<div class="col-md-12" id="loginContainer">
			<login-controls></login-controls>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12" id="logoContainer"></div>
		<a id="documentation-button" target="_blank" href="https://github.com/CyberCRI/RedWire/wiki/Standard-Toolbox-Reference" class="btn btn-primary btn-lg col-md-2" role="button">Documentation</a>
		<div class="col-md-8" id="logoBlock">
			<img src="/assets/images/logo_big.png" ui-sref="home"></img>
			<p>v{{RED_WIRE_VERSION}}</p>
		</div>
		<a id="tutorial-button" target="_blank" href="https://github.com/CyberCRI/RedWire/wiki/Tutorials" class="btn btn-primary btn-lg col-md-2" role="button">Tutorial</a>
	</div>

	<h2>Games</h2>

	<div class="input-group" id="searchInputBox">
		<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
		<input type="text" class="form-control" placeholder="Search..." ng-model="searchText">
		<span class="input-group-btn">
			<button class="btn btn-default" type="button" ng-click="clearSearchText()"><i class="glyphicon glyphicon-remove"></i></button>
		</span>
	</div>

	<game-block-panel-paged ng-if="searchText.length > 0" title="'Search Results'" count-games="countSearchedGames" get-page-of-games="getPageOfSearchedGames" games-per-page="12"></game-block-panel-paged>

	<div ng-if="isLoggedIn()" ng-show="searchText.length == 0">
		<game-block-panel-paged title="'Suggestions'" count-games="countRecommendations" get-page-of-games="getPageOfRecommendations" games-per-page="3"></game-block-panel-paged>
	</div>

	<div ng-if="isLoggedIn()" ng-show="searchText.length == 0">
		<game-block-panel-paged title="'My Games'" count-games="countMyGames" get-page-of-games="getPageOfMyGames" games-per-page="6"></game-block-panel-paged>
	</div>
	
	<game-block-panel-paged ng-show="searchText.length == 0" title="'All Games'" count-games="countAllGames" get-page-of-games="getPageOfAllGames" games-per-page="12"></game-block-panel-paged>
</div>