#gameList {
	margin-top: 10px;

	#logoContainer {
		text-align: center;

		img {
			width: 150px;
			cursor: help;
		}
	}

	a, span { 
		cursor: pointer;
	}

	tr:hover {
		background-color: LightGrey;
	}

	#DocumentationButton {
		float: left;
	}

	#TutorialButton {
		float: right;
	}
}