# Ignore OS garbage
.DS_Store
*~

# Ignore JS not in libraries
public/*.js
public/tests/*.js

# Ignore generated documentation
docs/

# Ignore node modules
npm-debug.log
node_modules/
node_modules/

# Ignore browser dependencies 
vendor/

# Ignore dpd temp files
server/data/mongod.lock
