<div id="editSwitchDialog">
	<form name="form" class="form-inline" novalidate>
		<div class="modal-header">
			<h3>Edit Switch <input ng-model="name" required placeholder="Switch name"></input></h3>
		</div>
		<div class="modal-body"> 
			<h4>Pins</h4>
			<ul>
				<li ng-repeat="pin in pins">
					<input required ng-model="pin.name" placeholder="Pin name" class="input-small"></input>
					<select ng-model="pin.direction" ng-options="direction for direction in DIRECTIONS"  class="input-small"></select>
					<input ng-model="pin.default" ng-show="pin.direction == 'in'" placeholder="Default value"  class="input-small"></input>
					<a class="btn btn-small" ng-click="removePin($index)"><i class="icon-trash"></i></a>
				</li>
			</ul>
			<a class="btn" ng-click="addPin()"><i class="icon-plus"></i></a>

			<h4>List active children</h4>
			<div ui-ace="{ mode: 'javascript', theme: 'twilight', useWrapMode: true }" ng-model="listActiveChildrenText"></div>

			<h4>Handle signals</h4>
			<div ui-ace="{ mode: 'javascript', theme: 'twilight', useWrapMode: true }" ng-model="handleSignalsText"></div>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="done()" ng-disabled="form.$invalid">Done</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</form>
</div>