<ul frang-tree>
    <li frang-tree-repeat="node in [currentGame.version.board]"
        frang-tree-drag="{node: node, parent: $parent.node}"
        frang-tree-drop="drop(dragData.node, node, dragData.parent, $parent.node)"
        frang-tree-allow-drop="true"
        style="list-style-type:none;">
        <div>
            <span ng-show="node.children && node.children.length > 0"
                  ng-click="node.collapsed = !node.collapsed"
                  ng-init="node.collapsed = false">
                {{node.collapsed ? '+' : '-'}}
            </span>
            <span class="label"
                  ng-click="nodeClick(node)">
                {{node.comment || "Untitled"}} ({{getNodeType(node)}})
            </span>
        </div>
        <ul ng-if="!node.collapsed && node.children && node.children.length > 0"
            frang-tree-insert-children="node.children">
        </ul>
    </li>
</ul>