<ul frang-tree class="board">
    <li frang-tree-repeat="node in [currentGame.version.board]"
        frang-tree-drag="{node: node, parent: $parent.node}"
        frang-tree-drop="drop(dragData.node, node, dragData.parent, $parent.node)"
        frang-tree-enter="enter(node)"
        frang-tree-allow-drop="true">
        <div>
            <span class="arrow"
                  ng-class="{collapsed: node.collapsed, expanded: !node.collapsed, hidden: !node.children || node.children.length === 0}"
                  ng-click="node.collapsed = !node.collapsed"></span>
            <img ng-src="/assets/images/{{getChipType(node)}}.png" />
            <span class="label" ng-class="{folder: acceptsChildren(node)}">
                {{node.comment || "Untitled"}} ({{getChipDescription(node)}})
            </span>
            <a href="" class="btn btn-small" ng-click="edit(node)"><i class="icon-edit"></i></a>
            <a href="" class="btn btn-small" ng-click="node.muted = !node.muted">{{node.muted ? 'MUTED' : 'Mute'}}</a>
            <a href="" class="btn btn-small" ng-click="remove(node, $parent.node)"><i class="icon-trash"></i></a>
        </div>
        <ul ng-if="!node.collapsed && node.children && node.children.length > 0"
            frang-tree-insert-children="node.children">
        </ul>
    </li>
</ul>