#editBoardEmitterDialog {
	.ace_editor {
		display: inline-block;
		height: 50px;
		width: 200px;
	}
}

#editBoardProcessorDialog {
	.ace_editor {
		display: inline-block;
		height: 50px;
		width: 200px;
	}
}