<div id="editBoardCircuitDialog">
	<form name="form" style="form-inline" novalidate>
		<div class="modal-header">
			<h3>Edit Circuit <input ng-model="exchange.name" placeholder="Name"></input></h3>
		</div>
		<div class="modal-body"> 
			<p>Child name: <input ng-model="exchange.childName" placeholder="Child name (optional)"></input></p>
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" ng-click="done()" ng-disabled="form.$invalid">Done</button>
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
		</div>
	</form>
</div>