<div id="editBoardActionDialog">
	<form name="form" style="form-inline" novalidate>
		<div class="modal-header">
			<h3>Edit {{kind}} {{type}} <input ng-model="name" placeholder="Name"></input></h3>
		</div>
		<div class="modal-body"> 
			<h4>Pins</h4>
			<ul>
				<li ng-repeat="pin in pins">
					<input ng-model="pin.simpleDestination" ng-show="pin.linkage == 'simple' && (pin.direction == 'in' || pin.direction == 'inout')" placeholder="input/output value" class="input-small" typeahead="destination for destination in DESTINATIONS | filter:$viewValue | limitTo:8"></input>

					<!-- <div ui-ace="{ mode: 'ace/mode/javascript', theme: 'twilight' }" ng-model="pin.customDestinations.in" ng-show="pin.linkage == 'custom' && (pin.direction == 'in' || pin.direction == 'inout')"></div> -->
					<div ng-show="pin.linkage == 'custom'">
						<div ui-ace="{ mode: 'ace/mode/javascript', theme: 'twilight' }" ng-model="pin.customDestinations.in"></div>
					</div>

					<span>{{pin.name}}</span>
					<select ng-model="pin.linkage" ng-options="linkage for linkage in LINKAGES" class="input-small"></select>

					<input ng-model="pin.simpleDestination" ng-show="pin.linkage == 'simple' && (pin.direction == 'out' || pin.direction == 'inout')" placeholder="input/output value" class="input-small" typeahead="destination for destination in DESTINATIONS | filter:$viewValue | limitTo:8"></input>

					<div ng-show="pin.linkage == 'custom' && (pin.direction == 'out' || pin.direction == 'inout')">
						<ul>
							<li ng-repeat="destination in pin.customDestinations.out">
								<input required ng-model="destination.drain" placeholder="Output" typeahead="destination for destination in DESTINATIONS | filter:$viewValue | limitTo:8"></input>
								<div ui-ace="{ mode: 'ace/mode/javascript', theme: 'twilight' }" ng-model="destination.source"></div>
								<a class="btn btn-small" ng-click="removeCustomDestination(pin.name, $index)"><i class="icon-trash"></i></a>
							</li>
						</ul>
	
						<a class="btn" ng-click="addCustomDestination(pin.name)"><i class="icon-plus"></i></a>
					</div>
				</li>
			</ul>
		</div>
		<div class="modal-footer">
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			<button class="btn btn-primary" ng-click="done()" ng-disabled="form.$invalid">Done</button>
		</div>
	</form>
</div>