#gameContent {
	color: white;
	font-family: Arial;
	font-size: 20px;
}

#gameContent input, button {
	color: black;
	font-family: Arial;
	font-size: 20px;
}

#wrap {
    margin-top: 50px;  
    margin-bottom: 100px;  
    margin-right: 120px;  
    margin-left: 120px;  
}

.title {
    color: greenyellow;
}

h1{
    font-size: 1.5em;
    text-align: center;
}

h2{
    font-size: 1.0em;
    color:greenyellow;
}

h3{
    color: greenyellow;
    text-align: center;
    font-size: 1.5em;
}
h4{
    color: greenyellow;
    text-align: center;
    font-size: 1em;
   
}
h5{
    font-style: italic;
    text-align: center;
    color: orange;
}

.InputField{
    width: 100px;
    border: 2px solid greenyellow;

    background-color: white;

    padding-left:  10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.InputField:hover {
    border: 2px dotted orange;
}

input, select, InputField {
    color: red;
}

.RedButton{
    background-color: brown;
    border: 2px solid orange;
    color:white;
}

.RedButton:hover{
    border: 2px dotted orange; 
}

.addShapeButton {
    background-color: brown;
    border: 2px solid orange;
    color:white;
    font-size: 0.7em;
}
.addShapeButton:hover{
    border: 2px dotted orange; 
}

#addShape{
    float: right;
    margin-top: 168px;
    margin-right: 10px;
    
}


.infos{
    float: none;
    text-align: center;
    margin-top: 460px;
    font-size: 0.8em;

   
}

#wrapDone{
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
   
   
}

#done{
   text-align: center;
}
.doneButton{
    background-color: brown;
    border: 2px solid orange;
    color:white;
    font-size: 1em;
    margin-top: -5px;


}

.doneButton:hover{
    border: 2px dotted orange; 
}

#please{
    padding-left: 28px;
    margin-top: -5px;
}

#done2{
    margin-top: 380px;
    text-align: center;
}
#done2Button{
    margin-top: -20px;
}

#thanksWrap{
    text-align: center;
    margin-top: 200px;
}
