<flexy-layout orientation="vertical">

    <!-- Header -->
    <block-container init="80">
        <flexy-layout orientation="horizontal">
            <block-container init="150" class="logo"></block-container>
            <block-container >
                <div>
                    <h4>{{currentGame.info.name || noGameMessage}}</h4>
                    <div ng-controller="TimeCtrl">
                        <span>Frame {{currentFrame}}</span>
                        <a class="btn btn-primary" href="#" ng-click="triggerPlay()"><i class="icon-white" ng-class="{'icon-play': !isPlaying, 'icon-pause': isPlaying}"></i></a>
                        <input type="range" ng-model="currentFrame" min="0" max="{{totalFrames}}"></input>
                        <div class="btn-group">
                            <a class="btn" href="#" ng-click="stepBackward()"><i class="icon-step-backward"></i></a>
                            <a class="btn" href="#" ng-click="stepForward()"><i class="icon-step-forward"></i></a>
                        </div>
                        <div class="btn-group">
                            <a class="btn" href="#" ng-click="jumpToStart()"><i class="icon-fast-backward"></i></a>
                            <a class="btn" href="#" ng-click="jumpToEnd()"><i class="icon-fast-forward"></i></a>
                        </div>
                    </div>
                </div>
            </block-container>
            <block-container init="200">
                <div ng-show="user.isLogged()">
                    Welcome, {{user.profile.username}}
                    <button ng-click="games.loadJson('leap')" class="btn btn-primary">
                        Load Game
                    </button>
                    <button ng-click="games.saveCurrent()" class="btn btn-primary">
                        {{games.getSaveAction().name}}
                    </button>
                </div>
                <div ng-hide="user.isLogged()">
                    <button ng-click="users.login('micouz', 'password')" class="btn btn-primary">
                        Login
                    </button>
                </div>
            </block-container>
        </flexy-layout>
    </block-container>

    <!-- Main -->
    <block-container>
        <flexy-layout ui-view="game.main"></flexy-layout>
    </block-container>

    <!-- Footer -->
    <block-container init="40">
        <div>
            <p>Footer</p>
        </div>
    </block-container>

</flexy-layout>