@red: #cf0404;


.block {
    transition: all 0.2s;
}

.block-content{
    border: 0; 
}

.splitter{
    background: @red;
}

.ghost {
    background: @red;
    opacity: 0.5;
}

// Taken from http://angular-ui.github.io/bootstrap/ demo
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}


/* Import child LESS files */

@import 'modals.less';
@import 'assets/assets.less';
@import 'about/about.less';
@import 'board/board.less';
@import 'edit/gameEdit.less';
@import 'edit/header/header.less';
@import 'import/import.less';
@import 'layers/layers.less';
@import 'list/gameList.less';
@import 'log/log.less';
@import 'memory/memory.less';
@import 'overlay/overlay.less';
@import 'play/play.less';
@import 'player/player.less';
@import 'processors/editProcessors.less';
@import 'switches/editSwitches.less';
@import 'edit/header/time/time';
@import 'transformers/editTransformers.less';
@import 'undo/undo.less';

