<flexy-layout orientation="vertical">

    <!-- Header -->
    <block-container init="80">
        <flexy-layout orientation="horizontal">
            <block-container init="150" class="logo"></block-container>
            <block-container>
                <div>
                    <h4>{{games.current.name || noGameMessage}}</h4>
                    <p>Slider</p>
                </div>
            </block-container>
            <block-container init="200">
                <div ng-show="user.isLogged()">
                    Welcome, {{user.profile.username}}
                    <button ng-click="games.loadJson('leap')" class="btn btn-primary">
                        Load Game
                    </button>
                    <button ng-click="games.save()" class="btn btn-primary">
                        Save Game
                    </button>
                </div>
                <div ng-hide="user.isLogged()">
                    <button ng-click="users.login('micouz', 'password')" class="btn btn-primary">
                        Login
                    </button>
                </div>
            </block-container>
        </flexy-layout>
    </block-container>

    <!-- Main -->
    <block-container>
        <flexy-layout ui-view="game.main"></flexy-layout>
    </block-container>

    <!-- Footer -->
    <block-container init="40">
        <div>
            <p>Footer</p>
        </div>
    </block-container>

</flexy-layout>