#headerBarContainer {
	border-bottom: 1px @red solid;

	#headerBar {
		display: table-row;
		height: 100px;
		width: 100%;

		#logo {
			display: table-cell;
			min-width: 180px;
			// height: 100px; Giving a height to the image messes up the header size in FF
			background-image: url(images/logo.png);
			background-position: center;
			background-repeat: no-repeat;
		}

		#center {
			display: table-cell;
			width: 99%;

			#title {
				text-align: center;
			}
		}

		#gameLoadingControls {
			display: table-cell;
			vertical-align: middle;
			min-width: 240px;
			text-align: right;
			padding-right: 10px;

			button {
				margin-left: auto;
				margin-right: 0;
			}

			#loggedInInfo {
				padding-bottom: 10px;
			}

			.dropdown-menu {
				a {
					text-align: left;
					cursor: pointer;
				}

				.btn-danger:hover {
					background-color: #d2322d;
					border-color: #ac2925;
				}
			}
		}
	}
}
