<div id="headerBar">
    <a id="logo" href="/"></a>
    <div id="center">
        <div ng-controller="GameInfoCtrl">
            <h4 id="title">
                <a href="" editable-text="currentGame.info.name">{{ currentGame.info.name || "Game name" }}</a>
                (version {{ currentGame.version.versionNumber }})
                by
                <a>{{ currentGame.creator }}</a>
            </h4>
            <ng-include src="'game/undo/undo.tpl.html'"></ng-include>
            <ng-include src="'game/edit/header/time/time.tpl.html'"></ng-include>
        </div>
    </div>
    <div id="gameLoadingControls">
        <div ng-controller="MenuCtrl">
            <div id="loggedInInfo" ng-show="user.isLoggedIn()">
                <i class="font-icon-head"></i> {{user.profile.username}} <button title="Logout" ng-click="user.logout()" href=""><i class="font-icon-logout"></i></button>
            </div>
            <div>
                <button ng-click="publishButtonClick()" class="btn btn-sm btn-primary" ng-disabled="publishButtonDisabled" ng-if="isPublishButtonDisplayed()">
                    <i ng-class="font-icon-upload"></i>
                    Publish
                </button>
                <button ng-click="forkButtonClick()" class="btn btn-sm btn-primary" ng-disabled="forkButtonDisabled" ng-if="isForkButtonDisplayed()">
                    <i ng-class="font-icon-fork"></i>
                    Fork
                </button>
                <button ng-click="loginDialog.open();" class="btn btn-sm btn-primary" ng-if="user.isNotLoggedIn()">
                    Login
                </button>
                <button id="importExportButton" title="Import/Export" ng-click="importExportDialog.open();" class="btn btn-default btn-sm">
                    <i class="glyphicon glyphicon-file"></i>
                </button>
                <button ng-click="gotoPlayScreen()" title="Play" class="btn btn-default btn-sm">
                    <i class="glyphicon glyphicon-share"></i>
                </button>
            </div>
        </div>
    </div>
</div>
