#headerBar {
	border-bottom: 1px @red solid;
	height: 80px;
	width: 100%;

	div.logo {
		width: 150;
		height: 100%;
		background-image: url(images/logo.png);
		background-position: center;
		background-repeat: no-repeat;
	}

	#title {
		text-align: center;
	}

	#gameLoadingControls {
		text-align: right;

		button {
			margin-left: auto;
			margin-right: 0;
		}
	}
}
