<flexy-layout orientation="horizontal">
    <block-container init="150" class="logo"></block-container>
    <block-container>
        <div ng-controller="GameInfoCtrl">
            <h4 id="title">
                <a href="" editable-text="currentGame.info.name">{{ currentGame.info.name || "Game name" }}</a>
                by
                <a>{{ currentGame.creator }}</a>
            </h4>
            <ng-include src="'game/edit/header/time/template.tpl.html'"></ng-include>
        </div>
    </block-container>
    <block-container init="200" id="gameLoadingControls">
        <div ng-controller="MenuCtrl">
            <div ng-show="user.isLoggedIn()">
                Welcome, {{user.profile.username}}
            </div>
            <div class="btn-group btn-group-vertical">
                <button ng-click="games.saveCurrent()" class="btn btn-primary"
                        ng-show="user.isLoggedIn() && currentGame.version">
                    {{games.getSaveAction().name}}
                </button>
                <button ng-click="loginDialog.open();" class="btn btn-small" ng-show="user.isNotLoggedIn()">
                    Login
                </button>
                <button ng-click="aboutDialog.open();" class="btn btn-small">
                    About
                </button>
                <button ng-click="loadGame()" class="btn btn-small">
                    Load
                </button>
                <button ng-click="importExportDialog.open();" class="btn btn-small">
                    Import/Export
                </button>
            </div>
        </div>
    </block-container>
</flexy-layout>