#assetsList {
	min-height: 300px;

	&.drag-over {
		border-style: dashed;
	}

	ul {
		list-style: none;
		padding-left: 20px
	}

	// Based on:
	// http://stackoverflow.com/questions/9994493/scale-image-to-fit-a-bounding-box-css-only
	.assetThumbnail {
		display: inline-block;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		height: 40px;
		width: 40px;
	}	
}
