<!-- West Column-->
<block-container init="300">
    <flexy-layout orientation="vertical">
        <block-container style="overflow:scroll; font-size:13px;">
            <div class="jsonView" defocus>
                <json child="model" type="'object'"></json>
            </div>
        </block-container>
        <block-splitter></block-splitter>
        <block-container style="overflow:scroll;">
            <div id="assetsList" ng-controller="AssetsCtrl">
                <h4>Assets</h4>

                <ul>
                    <li ng-repeat="asset in assets">
                        <a href="" editable-text="asset.name">{{ asset.name || "Asset name" }}</a>
                        <div class="assetThumbnail" style="background-image: url({{ asset.data }})"></div>
                        <a class="btn" ng-click="remove(asset.name)"><i class="icon-trash"></i></a> 
                    </li>
                </ul>

                <div file-dropzone file="file" file-name="fileName" class="dropzone"><span>Drop files here</span></div>
                <a class="btn" ng-click="add()"><i class="icon-plus"></i></a>
            </div>
        </block-container>
    </flexy-layout>
</block-container>

<block-splitter></block-splitter>

<!-- Center Column-->
<block-container>
    <flexy-layout orientation="vertical">
        <block-container id="gamePlayerContainer">
            <iframe id="gamePlayer" sandbox="allow-scripts" src="sandbox.html" ng-controller="PlayerCtrl"></iframe>
        </block-container>
        <block-splitter></block-splitter>
        <block-container init="200" style="overflow:scroll;">
            <h4>Board</h4>
            <div ng-controller="BoardCtrl"> 
                <div jstree="board"></div>
            </div>
        </block-container>
    </flexy-layout>
</block-container>

<block-splitter></block-splitter>

<!-- East Column-->
<block-container init="300">
    <flexy-layout orientation="vertical">
        <block-container style="overflow:scroll;">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li><a href="#tools" data-toggle="tab">Tools</a></li>
                    <li><a href="#actions" data-toggle="tab">Actions</a></li>
                    <li><a href="#switches" data-toggle="tab">Switches</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="tools" ng-controller="ToolsListCtrl">
                        <ul>
                            <li ng-repeat="toolName in toolNames">
                                <a href="" ng-click="edit(toolName)">{{toolName}}</a> 
                                <a class="btn btn-small" ng-click="remove(toolName)"><i class="icon-trash"></i></a> 
                            </li>
                        </ul>
                        <a class="btn" ng-click="add()"><i class="icon-plus"></i></a>
                    </div>
                    <div class="tab-pane" id="actions" ng-controller="ActionsListCtrl">
                        <ul>
                            <li ng-repeat="actionName in actionNames">
                                <a href="" ng-click="edit(actionName)" class="jstree-draggable" action-id="{{actionName}}">{{actionName}}</a>
                                <a class="btn btn-small" ng-click="remove(actionName)"><i class="icon-trash"></i></a>
                            </li>
                        </ul>
                        <a class="btn" ng-click="add()"><i class="icon-plus"></i></a>
                    </div>
                    <div class="tab-pane active" id="switches" ng-controller="SwitchesListCtrl">
                        <ul>
                            <li ng-repeat="switchName in switchNames">
                                <a href="" ng-click="edit(switchName)">{{switchName}}</a> 
                                <a class="btn btn-small" ng-click="remove(switchName)"><i class="icon-trash"></i></a> 
                            </li>
                        </ul>
                        <a class="btn" ng-click="add()"><i class="icon-plus"></i></a>
                    </div>
                </div>
            </div>
        </block-container>
        <block-splitter></block-splitter>
        <block-container style="overflow:scroll;">
            <div ng-controller="LayersCtrl" id="layersList">
                <h4>Layers</h4>
                <ul ui-multi-sortable ng-model="layers">
                  <li ng-repeat="layer in layers">
                    <i class="icon-align-justify"></i> 
                    <a href="" editable-text="layer.name">{{ layer.name || "Layer name" }}</a> 
                    -
                    <a href="" editable-select="layer.type" e-ng-options="type for type in TYPES">{{ layer.type || "Layer type" }}</a>
                    <a class="btn btn-small" ng-click="removeLayer($index)"><i class="icon-trash"></i></a>
                  </li>
                </ul>

                <a class="btn" ng-click="addLayer()"><i class="icon-plus"></i></a>
            </div>
        </block-container>
    </flexy-layout>
</block-container>