<!-- West Column-->
<block-container init="300">
    <flexy-layout orientation="vertical">
        <block-container style="overflow:scroll; font-size:13px;">
            <div class="jsonView" defocus>
                <json child="model" type="'object'"></json>
            </div>
        </block-container>
        <block-splitter></block-splitter>
        <block-container style="overflow:scroll;">
            <div>
                <p>Assets</p>
            </div>
        </block-container>
    </flexy-layout>
</block-container>

<block-splitter></block-splitter>

<!-- Center Column-->
<block-container>
    <flexy-layout orientation="vertical">
        <block-container id="gamePlayerContainer">
            <iframe id="gamePlayer" sandbox="allow-scripts" src="sandbox.html" ng-controller="PlayerCtrl"></iframe>
        </block-container>
        <block-splitter></block-splitter>
        <block-container init="200" style="overflow:scroll;">
            <div jstree="board"></div>
        </block-container>
    </flexy-layout>
</block-container>

<block-splitter></block-splitter>

<!-- East Column-->
<block-container init="300">
    <flexy-layout orientation="vertical">
        <block-container style="overflow:scroll;">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li><a href="#tools" data-toggle="tab">Tools</a></li>
                    <li><a href="#actions" data-toggle="tab">Actions</a></li>
                    <li><a href="#switches" data-toggle="tab">Switches</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="tools" ng-controller="ToolsListCtrl">
                        <ul>
                            <li ng-repeat="toolName in toolNames">
                                <a ng-click="edit(toolName)">{{toolName}}</a> 
                                <a class="btn" ng-click="remove(toolName)"><i class="icon-trash"></i></a> 
                            </li>
                        </ul>
                        <a class="btn" ng-click="add()"><i class="icon-plus"></i></a>
                    </div>
                  <div class="tab-pane" id="actions">
                    <div class="tab-pane active" id="actions" ng-controller="ActionsListCtrl">
                        <ul>
                            <li ng-repeat="actionName in actionNames">
                                <a ng-click="edit(actionName)">{{actionName}}</a> 
                                <a class="btn" ng-click="remove(actionName)"><i class="icon-trash"></i></a> 
                            </li>
                        </ul>
                        <a class="btn" ng-click="add()"><i class="icon-plus"></i></a>
                    </div>
                  </div>
                  <div class="tab-pane" id="switches">
                    <div class="tab-pane active" id="actions" ng-controller="SwitchesListCtrl">
                        <ul>
                            <li ng-repeat="switchName in switchNames">
                                <a ng-click="edit(switchName)">{{switchName}}</a> 
                                <a class="btn" ng-click="remove(switchName)"><i class="icon-trash"></i></a> 
                            </li>
                        </ul>
                        <a class="btn" ng-click="add()"><i class="icon-plus"></i></a>
                    </div>
                  </div>
                </div>
            </div>
        </block-container>
        <block-splitter></block-splitter>
        <block-container style="overflow:scroll;">
            <div>
                <p>Services</p>
            </div>
        </block-container>
    </flexy-layout>
</block-container>