<div id="gameEditor">

    <!-- Header -->
    <div ng-include src="'game/edit/header/header.tpl.html'" id="headerBarContainer"></div>

    <!-- Main -->
    <flexy-layout orientation="vertical">
        <block-container>
            <flexy-layout>
                <!-- West Column-->
                <block-container init="340">
                    <flexy-layout orientation="vertical">
                        <block-container style="font-size:13px;">
                            <div id="memoryEditor" ng-class="{ notEditable: gameTime.currentFrameNumber > 0}" ng-controller="MemoryCtrl"></div>
                        </block-container>
                        <block-splitter></block-splitter>
                        <block-container class="scrollable">
                            <div id="assetsList" ng-controller="AssetsCtrl">
                                <h4>Assets</h4>

                                <ul>
                                    <li ng-repeat="asset in assets">
                                        <a href="" editable-text="asset.name">{{ asset.name || "Asset name" }}</a>
                                        <div class="assetThumbnail" style="background-image: url({{ asset.data }})"></div>
                                        <a class="btn btn-default btn-sm" ng-click="remove($index)"><i class="glyphicon glyphicon-trash"></i></a>
                                    </li>
                                </ul>

                                <div file-dropzone file="file" file-name="fileName" class="dropzone"><span>Drop new assets here</span></div>
                            </div>
                        </block-container>
                    </flexy-layout>
                </block-container>

                <block-splitter></block-splitter>

                <!-- Center Column-->
                <block-container>
                    <flexy-layout orientation="vertical">
                        <block-container id="gamePlayerContainer">
                            <div id="overlayContainer" ng-controller="OverlayCtrl">
                                <div id="gameOverlay" ng-hide="!isDraggingBorders"></div>
                                <div id="notification" ng-hide="!notification">
                                    <i ng-class="notification.icon"></i>
                                    <p>{{notification.text}}</p>
                                </div>
                            </div>
                            <iframe id="gamePlayer" sandbox="allow-scripts" src="sandbox.html" ng-controller="PlayerCtrl"></iframe>
                        </block-container>
                        <block-splitter></block-splitter>
                        <block-container class="scrollable">
                            <h4>Board</h4>
                            <ng-include src="'game/board/boardTree.tpl.html'" ng-controller="BoardTreeCtrl"></ng-include>
                        </block-container>
                    </flexy-layout>
                </block-container>

                <block-splitter></block-splitter>

                <!-- East Column-->
                <block-container init="300" id="toolbox">
                    <flexy-layout orientation="vertical">
                        <block-container class="scrollable">
                            <accordion close-others="true">
                                <accordion-group heading="Basic" is-open="isFirstOpen" id>
                                    <ul ng-controller="BasicChipLibraryCtrl">
                                        <li class="emitterChip"><a href="" frang-tree-drag="{node: {emitter: {}} }" emitter>Emitter</a></li>
                                        <li class="splitterChip"><a href="" frang-tree-drag="{node: newSplitter() }" splitter>Splitter</a></li>
                                    </ul>
                                </accordion-group>
                                <accordion-group heading="Processors">
                                    <div id="processors" ng-controller="ProcessorsListCtrl">
                                        <ul>
                                            <li ng-repeat="processorName in processorNames" class="processorChip">
                                                <span frang-tree-drag="{node: newProcessor(processorName) }">{{processorName}}</span>
                                                <a class="btn btn-default btn-sm" ng-click="edit(processorName)"><i class="glyphicon glyphicon-edit"></i></a>
                                                <a class="btn btn-default btn-sm" ng-click="remove(processorName)"><i class="glyphicon glyphicon-trash"></i></a>
                                            </li>
                                        </ul>
                                        <a class="btn btn-default" ng-click="add()"><i class="glyphicon glyphicon-plus"></i></a>
                                    </div>
                                </accordion-group>
                                <accordion-group heading="Switches">
                                    <div id="switches" ng-controller="SwitchesListCtrl">
                                        <ul>
                                            <li ng-repeat="switchName in switchNames" class="switchChip">
                                                <span frang-tree-drag="{node: newSwitch(switchName) }">{{switchName}}</span>
                                                <a class="btn btn-default btn-sm" ng-click="edit(switchName)"><i class="glyphicon glyphicon-edit"></i></a>
                                                <a class="btn btn-default btn-sm" ng-click="remove(switchName)"><i class="glyphicon glyphicon-trash"></i></a>
                                            </li>
                                        </ul>
                                        <a class="btn btn-default" ng-click="add()"><i class="glyphicon glyphicon-plus"></i></a>
                                    </div>
                                </accordion-group>
                                <accordion-group heading="Transformers">
                                    <div id="transformers" ng-controller="TransformersListCtrl">
                                        <ul>
                                            <li ng-repeat="transformerName in transformerNames" class="transformerChip">
                                                <span>{{transformerName}}</span>
                                                <a class="btn btn-default btn-sm" ng-click="edit(transformerName)"><i class="glyphicon glyphicon-edit"></i></a>
                                                <a class="btn btn-default btn-sm" ng-click="remove(transformerName)"><i class="glyphicon glyphicon-trash"></i></a>
                                            </li>
                                        </ul>
                                        <a class="btn btn-default" ng-click="add()"><i class="glyphicon glyphicon-plus"></i></a>
                                    </div>
                                </accordion-group>
                            </accordion>
                        </block-container>
                        <block-splitter></block-splitter>
                        <block-container class="scrollable">
                            <div ng-controller="LayersCtrl" id="layersList">
                                <h4>Layers</h4>
                                <ul ui-sortable ng-model="layers">
                                    <li ng-repeat="layer in layers">
                                        <span class="glyphicon glyphicon-align-justify"></span>
                                        <a href="" editable-text="layer.name">{{ layer.name || "Layer name" }}</a>
                                        -
                                        <a href="" editable-select="layer.type" e-ng-options="type for type in TYPES">{{ layer.type || "Layer type" }}</a>
                                        <a class="btn btn-default btn-sm" ng-click="removeLayer($index)"><i class="glyphicon glyphicon-trash"></i></a>
                                    </li>
                                </ul>

                                <a class="btn btn-default" ng-click="addLayer()"><i class="glyphicon glyphicon-plus"></i></a>
                            </div>
                        </block-container>
                    </flexy-layout>
                </block-container>
            </flexy-layout>
        </block-container>

        <block-splitter></block-splitter>

        <!-- Footer -->
        <!-- TODO: the bar is not really 150 pixels big, there must be a problem in the CSS -->
        <block-container id="logWindow" init="150">
            <div ui-ace="{ useWrapMode: true }" readonly="true" ng-controller="LogCtrl" ng-model="text"></div>
        </block-container>

    </flexy-layout>
</div>
