#gameEditor {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	color: rgb(80, 80, 80);

	.notFirstFrame {
		background-color: whitesmoke;
	}

	.scrollable {
		overflow: auto !important;
	}
}
