#toolbox {
	ul { 
		padding-left: 20px;
	}

	&.drag-over {
		border-style: dashed;
	}

	.emitterChip {
		list-style-image: url(/assets/images/emitter.png);
		cursor: move;
	}

	.splitterChip {
		list-style-image: url(/assets/images/splitter.png);
		cursor: move;
	}

	.processorChip {
		list-style-image: url(/assets/images/processor.png);
		cursor: move;
	}

	.switchChip {
		list-style-image: url(/assets/images/switch.png);
		cursor: move;
	}

	.circuitChip {
		list-style-image: url(/assets/images/circuit.png);
		cursor: move;
	}

	.transformerChip {
		cursor: move;
	}
}

@import 'editProcessors.less';
@import 'editSwitches.less';
@import 'editTransformers.less';
