<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{title}}</h3>
	</div>
	<div class="panel-body">
		<pager total-items="gameCount" ng-model="pageNumber" items-per-page="gamesPerPage" previous-text="< Previous" next-text="Next >"></pager>
		<div class="row" ng-repeat="row in rows">
			<game-block ng-repeat="game in row" game="game" class="col-md-4"></game-block>
		</div>
		<pager total-items="gameCount" ng-model="pageNumber" items-per-page="gamesPerPage" previous-text="< Previous" next-text="Next >"></pager>
	</div>
</div>