body {
  font-size: 10pt;
}

.editor {
  /* TODO: find way to dynamically measure height */
  height: 95%;
  font-size: 8pt;
}

#messageContainer {
  position: relative;
  width: 50%;
  margin: -10px auto 0 auto;
}

#topAlert, #topInfo {
  display: none;
  position: absolute;
  top: 0px;
  width: 100%;
  text-align: center
}

/* Vertical tabs */
.ui-tabs-vertical { width: 55em; }
/* .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; } */
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left;  } 
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
/* .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;} */

.toolbar {
  padding: 4px;
  margin: 0 0 5px 0;
}

#timeSlider {
  display: inline-block;
  width: 60%;
  margin: 0 5px 0 5px;
}

#topToolbar {
  position: absolute;
  top: 0px;
  right: 0px;
}

#appTitle {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 4px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: moz-none;
  -ms-user-select: none;
  user-select: none;
}

#gameContent {
  /* Other CSS is set during resize */
  position: absolute;
  -webkit-transform-origin: 0% 0%;
 }
