<div class="modal-header">
    <h3>Create User</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="usernameInput" class="col-sm-2 control-label">Username</label>
            <input id="usernameInput" type="text" ng-model="exchange.username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="emailInput" class="col-sm-2 control-label">Email</label>
            <input id="emailInput" type="text" ng-model="exchange.email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="passwordInput" class="col-sm-2 control-label">Password</label>
            <input id="passwordInput" type="password" ng-model="exchange.password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="verifyPasswordInput" class="col-sm-2 control-label">Password</label>
            <input id="verifyPasswordInput" type="password" ng-model="exchange.verifyPassword" placeholder="Password">
        </div>
        <div class="form-group">
            <div class="col-sm-7">
                <div class="alert alert-danger" ng-bind="errorMessage" ng-show="errorMessage"></div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <button ng-click="createUser()" class="btn btn-success" ng-disabled="!isValid()">Register</button>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>