#timeController {
	display: table; 
	width: 100%;
	text-align: center;

	input[type="range"] {
		width: 100%;
	}

	#recordContainer {
		display: table-cell; 
		width: 15%;
	}

	#sliderContainer {
		display: table-cell; 
		width: 50%;
	}

	#frameNumberContainer {
		display: table-cell; 
		width: 5%;
	}

	#steppingContainer {
		display: table-cell; 
		width: 25%;
	}
}

