<div id="playOnly">
	<div id="gameBox"> 
		<div id="gamePlayerContainer">
			<iframe id="gamePlayer" sandbox="allow-scripts" src="/sandbox.html" ng-controller="PlayerCtrl"></iframe>
			<div id="overlay" ng-hide="!isLoading">
				<i class="font-icon-spin5 animate-spin"></i>
			</div>
		</div>
	</div>

	<div ng-show="title">
		<h1 >{{title}} by {{author}}</h1>
		<h3 id="description" ng-bind-html="description | linky"></h3>

		<like-button game-id="gameId"></like-button>
		<a href="" ng-click="remix()"><img src="/assets/images/ribbon.png"></a>
		<br><a href="" ng-click="listGames()">See other games</a>
	</div>
</div>