/* The container must be used to position the player in "absolute" coordinates */
#gamePlayerContainer {
	position: relative;
	width: 100%;
	height: 100%;
}

/* Other CSS is set during resize */
#gamePlayer {
	border: 0px;
	position: absolute;
}
