<div class="modal-header">
    <h3>Login</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="usernameInput" class="col-sm-2 control-label">Username</label>
            <input id="usernameInput" type="text" ng-model="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="emailInput" class="col-sm-2 control-label">Email</label>
            <input id="emailInput" type="text" ng-model="email" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="passwordInput" class="col-sm-2 control-label">Password</label>
            <input id="passwordInput" type="password" ng-model="password" placeholder="Password">
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <p ng-bind="errorMessage"></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-2">
                <button ng-click="login()" class="btn btn-success" ng-disabled="!isValid()">Login</button>
            </div>
            <div class="col-sm-2">
                <button ng-click="openCreateUserDialog()" class="btn btn-danger">Register</button>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>