<div ng-controller="TimeCtrl" id="timeController">
    <div id="recordContainer">
        <div class="btn-group">
            <a class="btn btn-primary" href="" ng-click="triggerRecord()"><i class="icon-white" ng-class="{'icon-play-circle': !isRecording, 'icon-stop': isRecording}"></i></a>
            <a class="btn btn-warning" href="" ng-click="reset()" ng-disabled="disableTimeControls"><i class="icon-white icon-remove"></i></a>
        </div>
    </div>
    <div id="sliderContainer">
        <input type="range" ng-model="currentFrameString" min="0" max="{{lastFrame}}" ng-disabled="disableTimeControls" />
    </div>
    <div id="frameNumberContainer">
        <span>{{currentFrame + 1}}/{{lastFrame + 1}}</span>
    </div>
    <div id="steppingContainer">
        <div class="btn-group">
            <a class="btn btn-small" href="" ng-click="triggerPlayBack()" ng-disabled="disableTimeControls"><i ng-class="{'icon-play': !isPlayingBack, 'icon-pause': isPlayingBack}"></i></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-small" href="" ng-click="stepBackward()" ng-disabled="disableTimeControls"><i class="icon-step-backward"></i></a>
            <a class="btn btn-small" href="" ng-click="stepForward()" ng-disabled="disableTimeControls"><i class="icon-step-forward"></i></a>
        </div>
        <div class="btn-group">
            <a class="btn btn-small" href="" ng-click="jumpToStart()" ng-disabled="disableTimeControls"><i class="icon-fast-backward"></i></a>
            <a class="btn btn-small" href="" ng-click="jumpToEnd()" ng-disabled="disableTimeControls"><i class="icon-fast-forward"></i></a>
        </div>
    </div>
</div>